.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.app-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
}